<div class="header">
  <div class="page-title-header">
    <i class="material-icons title">description</i>
    <h2 class="manual-title title singlepg-font">Server entries</h2>
    <p class="flex-container">
        <span>
          <i class="material-icons">remove_red_eye</i>
          <span>13&nbsp;views</span>
        </span>
      <span>
          <i class="material-icons">date_range</i>
          <span>November 1, 2019</span>
        </span>
      <span>
          <i class="material-icons">update</i>
          <span>November 13, 2019</span>
        </span>
      <span>
          <i class="material-icons">person_outline</i>
          <span>admin</span>
        </span>
      <span>
          <i class="material-icons">edit</i>
          <span class="edit-link">
            <a class="post-edit-link" (click)="onEdit()">Edit</a>
          </span>
        </span>

    </p>
</div>
</div>
<hr>
